{{ template "header.html"}}
{{ template "nav.user.html"}}

<br>
<div class="w3-card-4 w3-white" style="width: 50%; margin: auto; padding: 10px">
    <h2>Create Post</h2>
    <hr>

    <form class="w3-container" action="./createpost/form" method="post">

        <h3><label class="w3-text"><b>Title</b></label></h3>
        <input class="w3-input w3-border" type="text" placeholder="Title" name="title" style="width:40%;"><br>

        <h3><label class="w3-text"><b>Content</b></label></h3>
        <textarea class="w3-input w3-border" id="editor1" placeholder="Enter text here..." name="body" style=" height:300px; padding: 12px; border: 1px solid #ccc; border-radius: 4px;resize: vertical;"></textarea><br>

        <h3><label class="w3-text"><b>Post access</b></label></h3>
        <select name="access" class="w3-border" style="width: 15%">
            <option value="0" >Public</option>
            <option value="1">Private</option>
        </select><br><br>

        <button class="w3-btn w3-black">Submit</button>

    </form>


</div>

{{ template "footer.html"}}