{{ template "header.html" }}
{{ template "nav.user.html" }}

{{range .}}
{{ if eq 0 .Access}}
<div class="w3-row">
    <!-- Blog entries -->
    <div class="w3-col12">
        <!-- Blog entry -->
        <div class="w3-card-4 w3-margin w3-white">
                <div class="w3-container">
                        <a href="/post/home/{{.Id}}"><h3><b>{{.Title}}</b></h3> </a><h5> By {{.FirstName}} {{.LastName}}  <span class="w3-opacity">{{.TimeCreated}}</span></h5>
                        <hr>
                </div>
        </div>
    </div>
</div>

{{end}}
{{end}}

{{ template "footer.html" }}